/node_modules
/public/build
/public/hot
/public/storage
/public/qrcode
/public/perfil
/storage/*.key
/storage/app/public/pdf
/storage/app/public/productos
/storage/app/public/logotipo
/storage/framework/*
/storage/framework/cache/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.idea
postgres-data
